<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=VT323">
  <link rel="stylesheet" href="" th:href="@{/css/style.css}" />
  <link rel="icon" type="image/x-icon"  href="/images/FaviAlt.png?v=2"/>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/chart.js/dist/chart.umd.min.js"></script>
</head>
<title>Raspello2</title>

<body onresize="startChart()">
<marquee behavior="scroll" direction="left" scrollamount="10">
  "MAIOLATI SPONTINI AN 60030 ITALIA" &nbsp; &nbsp;
  "by IACOPO CASCIA & LUCA SOTGIA" &nbsp; &nbsp;
  "DON'T TRY THIS AT HOME"
</marquee>
<div class="tot">
  <div class="main">
    <div class="now" th:each="d:${last}">
      <div class="temphumi">
        <div class="tempBox">
          <div class="temp" th:text="${d.temp}"></div>
          <div class="unitTemp">°C</div>
        </div>
        <div class="humiBox">
          <div class="humi" th:text="${d.humi}"></div>
          <div class="unitHumi">%</div>
        </div>
      </div>
      <div class="datepress">
        <div class="time">
          <span class="hour" th:text="${d.getHours()}" style=color:red></span>
          <span class="minute" th:text="${d.getMinutes()}"></span>
        </div>
        <div class="date">
          <span class="month" th:text="${d.getMonth()}"></span>
          <span class="day" th:text="${d.getDay()}"></span>
        </div>
        <div class="pressBox">
          <span class="press" th:text="${d.press}"></span>
          <span class="unitPress">hPa</span>
        </div>
      </div>
    </div>
    <div class="alert">
      <div class="container-fluid">
        <div class="table">
          <div class="row">
            <div class="col-md-12">
              <h3 style="text-align: center; color:black;background-color: red">ALERT HISTORY</h3>
              <table class="tableAlert" id="tableAlert">
                <thead>
                <tr>
                  <th>Date</th>
                  <th>Temp</th>
                  <th>Humi</th>
                  <th>Press</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="c:${all}">
                  <th th:text="${c.date}"></th>
                  <th th:text="${c.temp}"></th>
                  <th th:text="${c.humi}"></th>
                  <th th:text="${c.press}"></th>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="chartBase">
    <div class="chartFilm">
      <div class="chartCont" >
        <canvas id="chartContainer"></canvas>
      </div>
    </div>
  </div>
  <div class="logout">
    <form th:action="@{/logout}" method="post">
      <input type="submit" value="LOG OUT"/>
    </form>
  </div>
</div>
<script type="text/javascript" th:src="@{/js/scripts.js}"></script>
</body>