<html xmlns:th="http://www.w3.org/1999/xhtml">

<head>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=VT323">
  <link rel="stylesheet" href="" th:href="@{/css/registration.css}">
  <link rel="icon" type="image/x-icon"  href="/images/FaviAlt.png?v=2"/>
</head>

<body>
<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">

      <!-- success message -->
      <div th:if="${param.success}">
        <div class="alert alert-info">You've successfully registered</div>
      </div>

      <form th:action="@{/registration}" method="post" th:object="${user}">
        <div th:if="${param.error}">
          <div class="alert alert-danger">Error during registration</div>
        </div>
        <div class="form-group">
          <label class="control-label" for="firstName"> FIRST NAME</label>
          <input id="firstName" class="form-control" th:field="*{firstName}" required autofocus="autofocus" />
        </div>

        <div class="form-group">
          <label class="control-label" for="lastName"> LAST NAME </label> <input id="lastName" class="form-control" th:field="*{lastName}" required autofocus="autofocus" />
        </div>

        <div class="form-group">
          <label class="control-label" for="email"> EMAIL </label> <input id="email" class="form-control" th:field="*{email}" required autofocus="autofocus" />
        </div>

        <div class="form-group">
          <label class="control-label" for="password"> PASSWORD </label> <input id="password" class="form-control" type="password" th:field="*{password}" required autofocus="autofocus" />
        </div>

        <div class="form-group">
          <button type="submit" class="btn btn-success">REGISTER</button>
          <div class=loginSpan>
            ALREADY IN? <a href="/" th:href="@{/login}">LOGIN</a>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

</body>

</html>